.navbar {
  background-color: #718355;
  color: white;
  height: 9vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2vw;
  margin: 0;
  height: 100%;
  list-style: none;
}

ul li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  position: relative;
}

ul li img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border: 2px solid #516433;
  border-radius: 50%;
  padding: 4px;
  background-color: #516433;
}

ul li h1 {
  color: white;
  font-size: 1.3em;
  margin: 0;
  font-weight: bold;
}

ul li a {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  padding: 0 10px 3px 10px;
  box-sizing: border-box;
  position: relative;
}

ul li .active {
  font-weight: bold;
  background-color: #eef7ff;
  color: #002651;
  height: 100%;
  line-height: 9vh;
  margin: 0;
}

ul li.logo-section {
  margin-right: auto;
  padding-left: 0.1rem;
  gap: 9px;
}

ul li .boton-cerrar {
  background-color: #2f570a;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
   font-family: 'Nunito', sans-serif;
  display: inline-block;
}

ul li .boton-cerrar:hover {
  background-color: #c0392b;
}
